.container{
    display: grid;
    grid-row: auto;
}

.container button{
    font-size: 30px;
    padding: 5px;
    padding-right: 50px;
    padding-left: 50px;

}

.title{
    height: 100px;
    text-align: center;
    background-color: rgba(13, 153, 24, 0.959);
    margin-bottom: 50px;
}

.title  h1{
    color: white;
}

.func_container{
    margin: 1%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 50% 50%;
    height: 500px;
    background-color: rgba(105, 105, 105, 0.384);
}

.num{
    grid-column: 1/3;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}
.num label{
    font-size: 40px;
    font-weight: 700;
}
.num input{
    font-size: 30px;
}

.table_num{
    background-color: white;
}
.table_num table{
    margin: auto;
    font-size: 30px;
    
}

.table_num th{
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid black;
}
.results{
    background-color: white;
     
}




